# Debian packages
17 */6 * * * ~/bin/ftpsync sync:all

# Linux Mint
20 */12 * * * cd mirrors/scripts/ && ./mint_releases
22 */12 * * * cd mirrors/scripts/ && ./mint_packages

# Ubuntu
51 */4 * * * cd mirrors/scripts/ && ./ubuntu_packages
51 */4 * * * cd mirrors/scripts/ && ./ubuntu_releases
